 WeatherPy



Objective
Build a series of scatter plots to showcase the following relationships:

Temperature (F) vs. Latitude
Humidity (%) vs. Latitude
Cloudiness (%) vs. Latitude
Wind Speed (mph) vs. Latitude

Method
Randomly select at least 500 unique (non-repeat) cities based on latitude and longitude
Perform a weather check on each of the cities using a series of successive API calls
Include a print log of each city as it's being processed with the city number, city name, and requested URL
Save both a CSV of all data retrieved and png images for each scatter plot


Analysis
From the latitude vs temperature plot you can see that it is hotter near the equator. Also noteworthy--the temperatures are much cooler in the positive latitudes due to the season. Winter has just finished north of the equator (positive latitudes) and summer has just ended south of the equator (negative latitudes).
There does not seem to be a relationship between latitude and humidity, cloudiness, or windspeed.
While this is a representative model of weather in cities across the world, it is only a snapshot of one day's weather. A yearly or even longer historical view could offer more insight.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import datetime
import time

# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []
lat_lng_list=[]

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)
        lat_lng_list.append(lat_lng)
# Print the city count to confirm sufficient count
len(cities)

602

In [3]:
#put the list of cities in a dataframe 
weather_df=pd.DataFrame(cities)
weather_df=weather_df.rename(columns={0 : "city"})
#Add lat and lng columns to the Dataframe 
weather_df['lat_lngs']=lat_lng_list
weather_df['lat']=weather_df.lat_lngs.map(lambda x : str(x[0]))
weather_df['long']=weather_df.lat_lngs.map(lambda x : str(x[1]))
weather_df

,city,lat_lngs,lat,long
0,limenaria,"(40.42514128943307, 24.581351477219698)",40.42514128943307,24.581351477219698
1,steamboat springs,"(39.88491498328696, -106.80126223422693)",39.88491498328696,-106.80126223422693
2,atuona,"(2.5544056207442765, -140.39977517822172)",2.5544056207442765,-140.39977517822172
3,pisco,"(-25.531510672461025, -98.91052406819993)",-25.531510672461025,-98.91052406819993
4,caravelas,"(-19.16344659401271, -35.08016583355689)",-19.16344659401271,-35.08016583355689
...,...,...,...,...
597,behshahr,"(36.49641567526359, 53.59285895657456)",36.49641567526359,53.59285895657456
598,inongo,"(-2.251296683659504, 18.511126853119265)",-2.251296683659504,18.511126853119265
599,ous,"(62.498475141751754, 61.338220219368225)",62.498475141751754,61.338220219368225
600,mossendjo,"(-2.7925471331502933, 12.067770272508739)",-2.7925471331502933,12.067770272508739
601,tambul,"(15.542312343664207, 33.824902255978685)",15.542312343664207,33.824902255978685

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [4]:

#Create new columns for data we'll be collecting from the API


api_key = "68e7377e5b26f1e041e7045c051ccaf2"
base_url=" http://api.openweathermap.org/data/2.5/weather"
units = "imperial"
query_url = f"{base_url}appid={api_key}&units={units}&q="


print ('Beginning Data Retrieval')
print ('------------------------')

#Iterate over each row

# for index ,row in weather_df.iterrows():
#     city=row['city']
#     city = city.replace(" ", "&")
response=requests.get(query_url)

response.status_code
response.json()



    
#     print(f'Processing Record {index +1 } | {city}')
#     print (f'{base_url}appid={api_key}&units={units}&q={city}')
#     print ("----------------------------------------------------------------")       
    #response = requests.get(query_url).json()
#    try:
#             temp = response["main"]["temp"]
#             max_temp = response['main']['temp_max']
#             min_temp = response['main']['temp_min']
#             humid = response["main"]["humidity"]
#             cloud = response["clouds"]["all"]
#             wind = response["wind"]["speed"]
#             city_name = response["name"]
#             country_code = response["sys"]["country"]
#             date = response["dt"]
            
            
#             weather_df['temp'] = temp
#             weather_df['max_temp'] = max_temp
#             weather_df['humidity'] = humid
#             weather_df['wind_speed'] = wind
#             weather_df['clouds'] = cloud
            
#             weather_df.append({
#                            'Temperature (F)': temp ,
#                            'max_temp' : max_temp,
#                            'min_temp' : min_temp,
#                            'Humidity (%)' : humid ,
#                            'Cloudiness (%)': cloud ,
#                            'Wind Speed (mph)' :wind,
#                            'Country' : country_code,
#                            'Date' :date
#                           }
#                          )
        
           
#     except:
#             print('City not found. Skipping...')
#             print ("----------------------------------------------------------------")
      
        
# print('-----------------------')
# print('Data Retrieval Complete') 
# print('-----------------------')

Beginning Data Retrieval
------------------------

{'cod': 401,
 'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'}

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [5]:
weather_df.count()

city        602
lat_lngs    602
lat         602
long        602
dtype: int64

In [6]:

# weather_df=pd.DataFrame(weather_df)
# weather_df=weather_df[["City", "Country","Lat","Temperature (F)", "Humidity (%)",
#                       "Cloudiness (%)", "Wind Speed (MPH)"]]

In [7]:
#delete rows where cities have no data
weather_df = weather_df.dropna(how='any')

#get a count
weather_df.count()

city        602
lat_lngs    602
lat         602
long        602
dtype: int64

In [8]:
date = datetime.date.today()
date = time.strftime("%m/%d/%Y")

In [9]:
weather_df.Date = date 
weather_df.lat = weather_df.lat.astype(float)

In [10]:
weather_df.head()

,city,lat_lngs,lat,long
0,limenaria,"(40.42514128943307, 24.581351477219698)",40.425141,24.581351477219698
1,steamboat springs,"(39.88491498328696, -106.80126223422693)",39.884915,-106.80126223422693
2,atuona,"(2.5544056207442765, -140.39977517822172)",2.554406,-140.39977517822172
3,pisco,"(-25.531510672461025, -98.91052406819993)",-25.531511,-98.91052406819993
4,caravelas,"(-19.16344659401271, -35.08016583355689)",-19.163447,-35.08016583355689

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot